<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Github account:</strong>
    <%= user.github_account %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= user.team %>
  </p>

  <p>
    <strong>Employment:</strong>
    <%= user.employment %>
  </p>

</div>
