<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <%= link_to "New user", new_user_path %>
  <table>
    <thead>
      <th>名前</th>
      <th>githubアカウント</th>
      <th>所属チーム</th>
      <th>雇用形態</th>
      <th>email</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.name}", user %></td>
          <td><%= user.github_account %></td>
          <td><%= user.team %></td>
          <td><%= user.employment %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

