<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <%= button_to "New", {controller: 'users', action: 'new'}, {method: :get, class: "btn btn-primary"} %>
  <table>
    <thead>
      <th>名前</th>
      <th>githubアカウント</th>
      <th>所属チーム</th>
      <th>雇用形態</th>
      <th>email</th>
      <th></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.name}", user %></td>
          <td><%= user.github_account %></td>
          <td><%= user.team %></td>
          <td><%= user.employment %></td>
          <td><%= user.email %></td>
          <td>
            <button>
              Sync Github
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

