<!DOCTYPE html>
<html>
  <head>
    <title>PubKeyAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar navbar-dark sticky-top bg-dark d-flex flex-row justify-content-start">
      <div style="width:70px;">
        <%= image_tag "/assets/nankin_key.png" %>
      </div>
      <div style="color:RGB(170,170,170);width:500px;">
        <H2 class="mb-0"><%= @page_name %></H2>
      </div>
    </div>

    <div class="px-3">
      <%= yield %>
    </div>
  </body>
</html>
