<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Github account:</strong>
    <%= member.github_account %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= member.team %>
  </p>

  <p>
    <strong>Employment:</strong>
    <%= member.employment %>
  </p>

</div>
