<p style="color: green"><%= notice %></p>

<div class="d-flex flex-row justify-content-between">
  <div class="col-4">
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search public key" aria-label="Search">
  </div>
  <div>
    <%= button_to "新メンバーを追加", {controller: 'members', action: 'new'}, {method: :get, class: "btn btn-primary"} %>
  </div>
</div>

<div id="members">
  <table class="table table-striped table-hover">
    <thead>
      <th>名前</th>
      <th>githubアカウント</th>
      <th>所属チーム</th>
      <th>雇用形態</th>
      <th>email</th>
      <th></th>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to "#{member.name}", member %></td>
          <td><%= member.github_account %></td>
          <td><%= member.team %></td>
          <td><%= member.employment %></td>
          <td><%= member.email %></td>
          <td><button class="btn btn-outline-danger btn-sm">削除</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

